.header{
    width:100%;
    padding:16px 0;
    
    background:var(--background-200);
    &__wrapper{
        display: flex;
        gap:16px;
    }
    a{
        color:var(--text-950);
        text-decoration: none;
        transition: transform 0.3s ease-in-out;
        &:hover{
            transform: scale(1.05);
        }
    }
}